BODY {
    FONT-FAMILY: ARIAL, SANS-SARIF;
    MARGIN:0;
    PADDING:0;
    BACKGROUND-COLOR: #F4F4F4;
}
HEADER{
    BACKGROUND-COLOR: #333;
    COLOR: WHITE;
    TEXT-ALIGN: CENTRE;
    PADDING: 20PX;
}
HEADER H1{
    MARGIN:0;
}
HEADER P{
    MARGIN:10PX 0;
}
NAV{
    BACKGROUN-COLOR:#444;
    DISPLAY: FLEX;
    JUSTIFY-CONTENT: CENTRE;
    PADDING: 10PX 0;
}
NAV A{
    COLOR: #333;
    TEXT-DECORATION: NONE;
    PADDING: 10PX 20PX;
    MARGIN:0 10PX
}
NAV A:HOVER{
    BACKGROUND-COLOR: #555;
}
SECTION{
    PADDING: 20PX;
    BACKGROUND-COLOR: WHITE;
    MARGIN:20PX;
}
SECTION H2{
    COLOR: #333;
}
SECTION P{
    FONT-SIZE: 16PX;
    COLOR: #666;
}
FOOTER{
TEXT-ALIGN: CENTRE;
PADDING: 10PX;
BACKGROUND-COLOR: #333
COLOR: WHITE;
POSITION: FIXED;
WIDTH: 100%
BOTTOM: 0;
}